*.bat

/billing
/query

/ws371w/.metadata/
/ws371w/adempiereLibero/
/ws371w/adempiereTrunk/
/ws371w/BillingModule/
/ws371w/customization/.settings/
/ws371w/customization/bin/

/ws371w/RemoteSystemsTempFiles/



/ws393w/.metadata/
/ws393w/adempiereLibero/
/ws393w/adempiereTrunk/
/ws393w/BillingModule/
/ws393w/customization/.settings/
/ws393w/customization/bin/

/ws393w/RemoteSystemsTempFiles/
