/billing
/query

/ws371w/.metadata/
/ws371w/adempiereLibero/
/ws371w/adempiereTrunk/
/ws371w/BillingModule/
/ws371w/customization/.settings/
/ws371w/customization/bin/
/ws371w/RemoteSystemsTempFiles/

/ws392w/.metadata/
/ws392w/adempiereLibero/
/ws392w/adempiereTrunk/
/ws392w/BillingModule/
/ws392w/customization/.settings/
/ws392w/customization/bin/
/ws392w/RemoteSystemsTempFiles/

/ws393d/.metadata/
/ws393d/adempiereLibero/
/ws393d/adempiereTrunk/
/ws393d/BillingModule/
/ws393d/customization/.settings/
/ws393d/customization/bin/
/ws393d/RemoteSystemsTempFiles/

/ws393dw/.metadata/
/ws393dw/adempiereLibero/
/ws393dw/adempiereTrunk/
/ws393dw/BillingModule/
/ws393dw/customization/.settings/
/ws393dw/customization/bin/
/ws393dw/RemoteSystemsTempFiles/

/ws393mw/.metadata/
/ws393mw/adempiereEAM/
/ws393mw/BillingModule/
/ws393mw/EnterpriseAssetMaintenance/
/ws393mw/customization/.settings/
/ws393mw/customization/bin/
/ws393mw/RemoteSystemsTempFiles/
/ws393mw/Withholding/